@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.about-us-container {
  padding: 40px;
  text-align: center;
}

.about-us-container h1 , h2{
    font-family: "Lobster Two", "Sans Serif";
  margin-bottom: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.about-us-container p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.team-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 400px;
  object-fit: cover;
}

.team-card .card-title {
    font-family: "Lobster Two", "Sans Serif";
  font-weight: bold;
  color: #2c3e50;
  font-size: x-large;
}

.team-card .card-text {
  font-size: 16px;
  color: #666;
}
