@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1{
    font-family: "Lobster Two", "Sans Serif";
}
.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
